[submodule "vendor/textmate"]
	path = vendor/textmate
	url = https://github.com/defunkt/textmate.el.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "vendor/nyan-mode"]
	path = vendor/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode.git
[submodule "vendor/android-mode"]
	path = vendor/android-mode
	url = https://github.com/remvee/android-mode.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "vendor/slime"]
	path = vendor/slime
	url = git://sbcl.boinkor.net/slime.git
