[submodule "vendor/textmate"]
	path = vendor/textmate
	url = https://github.com/defunkt/textmate.el.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "vendor/nyan-mode"]
	path = vendor/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode.git
